<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Most <em> Popular </em>
      </ng-template>
      <h1>Load Most Popular</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>thumb_up</mat-icon> Most Liked
      </ng-template>
      <h1>Load the most liked cards here</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>


  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
