<!--
This is the file called by <app-root>. Current this displays the following

  : APP : Material Nav    --- /material-nav
  : APP : App tav         --- /tab
  : CheckBoxes
  : Cards

  CSS is loaded from app.component.css
  app.component.ts is where you pass through your data
  app.module.ts is where the module itself (html/css/ts) is loaded for use by django fromt-end
  https://www.techiediaries.com/angular-tutorial/

-->

<div class="container">
  <app-example-navbar></app-example-navbar>
</div>


<h2 class="mt-3">Deal Service Attempt. Django++rest++Angular</h2>
<div style="display: flex; align-content: space-between;">
    <mat-card *ngFor="let deal of values" style="margin: auto;">
      <mat-card-header>
        <mat-card-title>{{ deal.info }}</mat-card-title>
        <mat-card-subtitle>€{{ deal.price }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="deal.picture" [alt]="deal.info">
      <mat-card-actions>
        <button mat-button (click)="deal.url">Claim Deal</button>
        <button mat-button (click)="deal.slug">deal.info</button>
      </mat-card-actions>
    </mat-card>
  </div>

<ul>
    <li *ngFor="let deal of values">{{deal}}</li>
  </ul>

<table width="100%">
  <tr>
    <th>name</th>
    <th>info</th>
    <th>picture</th>
    <th>been_liked</th>
    <th>been_disliked</th>
    <th>likes</th>
    <th>url</th>
    <th>category</th>
    <th>slug</th>
    <th>address</th>
  </tr>
  <tr *ngFor="let deal of values">
    <td>{{deal.name}}</td>
    <td>{{deal.info}}</td>
    <td>{{deal.picture}}</td>
    <td>{{deal.been_liked}}</td>
    <td>{{deal.been_disliked}}</td>
    <td>{{deal.likes}}</td>
    <td>{{deal.url}}</td>
    <td>{{deal.category}}</td>
    <td>{{deal.slug}}</td>
    <td>{{deal.address}}</td>
  </tr>
</table>

