

<div class="container">
  <app-index></app-index>
</div>

<!---
<ul>
    <li *ngFor="let deal of values">{{deal}}</li>
  </ul>

<table width="100%">
  <tr>
    <th>name</th>
    <th>info</th>
    <th>picture</th>
    <th>been_liked</th>
    <th>been_disliked</th>
    <th>likes</th>
    <th>url</th>
    <th>category</th>
    <th>slug</th>
    <th>address</th>
  </tr>
  <tr *ngFor="let deal of values">
    <td>{{deal.name}}</td>
    <td>{{deal.info}}</td>
    <td>{{deal.picture}}</td>
    <td>{{deal.been_liked}}</td>
    <td>{{deal.been_disliked}}</td>
    <td>{{deal.likes}}</td>
    <td>{{deal.url}}</td>
    <td>{{deal.category}}</td>
    <td>{{deal.slug}}</td>
    <td>{{deal.address}}</td>
  </tr>
</table>
-->
