.idea
__pycache__
venv
.DS_Store
.vscode/
# db.sqlite3 - turn this off so we can get users?

# See http://help.github.com/ignore-files/ for more about ignoring files.



# dependencies
/node_modules
/foodle/front-end/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
db.sqlite3
