{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style>
#faqQQ{
text-align:center;
margin-bottom:10px;
}
</style>

<div class="container">


        <div class="row">
            <div class="col-md-3">
                <img style="mx-auto; margin-top: 10px" class="img-fluid" src="{% static '/images/FAQdonut.jpg' %}" alt="Picture of Donut" class="rounded" />
            </div>

            <div class="col-md-6">
                <div style="text-align:center; font-size:50px; font-family:Times New Roman; margin-top:15px">HOW CAN WE HELP YOU?</div>
            </div>

            <div class="col-md-3">
                <img style="mx-auto; margin-top: 10px" class="img-fluid" src="{% static '/images/FAQdonut.jpg' %}" alt="Picture of Donut" class="rounded" />
            </div>
		</div>	 

	
	    <div class="row">
	        <div class="col-md-12 my-auto">
			<!--<div style="text-align:center">-->
				<div id="faqQQ"><a href="#Q1">Q. DO I NEED TO BE A STUDENT TO USE THIS SITE?</a></div>
				<div id="faqQQ"><a href="#Q2">Q. MUST ALL DEALS BE EXCLUSIVELY FOR STUDENTS?</a></div>
				<div id="faqQQ"><a href="#Q3">Q. DO I NEED TO BE A MEMEBER TO USE THIS SITE?</a></div>
				<div id="faqQQ"><a href="#Q4">Q. HOW DO I UPLOAD A DEAL?</a></div>
				<div id="faqQQ"><a href="#Q5">Q. DO MY FRIENDS NEED TO BE LOGGED IN TO SEE MY DEALS?</a></div>
				<div id="faqQQ"><a href="#Q6">Q. WHAT HAPPENS WHEN A DEAL EXPIRES?</a></div>
				<div id="faqQQ"><a href="#Q7">Q. DO FOODLE RECEIVE ANY KIND OF MONETARY BENEFITS FROM THE VENDORS?</a></div>
			<!--</div>-->	
	        </div>    
	    </div>     


        <div class="row">
            <div class="col-md-12 my-auto">
			<div style="text-align:center">
			
			    <div style="margin-top:100px"><a name="Q1" class="text-primary" >Q. DO I NEED TO BE A STUDENT TO USE THIS SITE?</a></div>
				<p>A. YOU DO NOT HAVE TO BE A STUDENT TO BROWSE THE SITE AND SEE WHAT DEALS ARE ON OFFER. 
                HOWEVER, SOME DEALS WILL BE AIMED SPECIFICALLY AT STUDENTS SO RECIPIENTS MAY NEED TO PRODUCE A VALID UNIVERSITY OF GLASGOW MYCAMPUS CARD, 
				OR SIGN UP WITH A UNIVERSITY EMAIL ADDRESS, TO REDEEM THE OFFER.</p>

                <a class="text-primary" id="Q2">Q. MUST ALL DEALS BE EXCLUSIVELY FOR STUDENTS?</a>
				<p>A. WHILE THE SITE AIMS TO HELP STUDENTS FIND WAYS TO SAVE MONEY ON MEALS AND SNACKS WE ARE 
				INTERESTED IN BRINGING ANY OFFER AT ALL TO THEIR ATTENTION THAT MIGHT PROVE USEFUL.</p>
				<a class="text-primary" id="Q3">Q. DO I NEED TO BE A MEMEBER TO USE THIS SITE?</a>
				<p>A. YOU NEED NOT BE A MEMBER TO BROWSE THE SITE AND TAKE ADVANTAGE OF THE DEALS ON DISPLAY. YOU DO, HOWEVER, NEED TO SIGN UP TO A 
				FREE ACCOUNT IF YOU WISH TO POST DEALS YOU SEE ON YOUR TRAVELS THAT YOU MAY FEEL YOUR FELLOW STUDENTS MIGHT ENJOY. 
				ONCE SIGNED UP YOU CAN BOOKMARK TASTY DEALS FOR EASY REACH LATER AND RANK DEALS YOU THINK NEED MORE ATTENTION 
				BY HITTING THE 'LIKE' BUTTON.</p>
				<a class="text-primary" id="Q4">Q. HOW DO I UPLOAD A DEAL?</a>
				<p>A. UPLOADING A DEAL COULDN'T BE SIMPLER. ONCE YOU ARE LOGGED IN LOOK FOR THE 'SUBMIT' BUTTON IN THE TOP RIGHT. 
				HITTING THIS WILL BRING UP A CARD WHICH ALLOWS YOU TO FILL IN THE DETAILS OF THE OFFER AND UPLOAD A PICTURE OF YOUR CHOICE. HIT 'SUBMIT DEAL' 
                AND THE DETAILS WILL BE SENT TO OUR ADMIN STAFF TO POST ON THE HOMEPAGE. PROVIDING A PICTURE OF THE PLACE YOU FOUND THE OFFER, 
				OR PERHAPS THE OFFER IN THE WINDOW, HELPS GIVE THE SITE A BIT OF COLOUR.</p>
				<a class="text-primary" id="Q5">Q. DO MY FRIENDS NEED TO BE LOGGED IN TO SEE MY DEALS?</a>
				<p>A. BROWSING THE SITE CAN BE DONE WITHOUT BEING A MEMBER, SO ANYONE CAN SEE A DEAL WHEN IT IS POSTED. IF YOU 
				WANT TO ALERT YOUR FRIENDS TO A NEW DEAL RIGHT AWAY SO THEY DON'T MISS OUT, WHY NOT HIT ONE OF THE 'SHARE' BUTTONS AND 
				POST THE DETAILS TO YOU AND YOUR FRIENDS' FAVOURITE SOCIAL MEDIA PLATFORM.</p>
				<a class="text-primary" id="Q6">Q. WHAT HAPPENS WHEN A DEAL EXPIRES?</a>
				<p>A. WE WOULD ASK THE GENEROUS PERSON WHO POSTED THE OFFER TO REPORT BACK WHEN THEY SEE THE DEAL HAS EXIPRED. 
				IF, HOWEVER, YOU TRY TO TAKE ADVANTAGE OF A DEAL ON OUR SITE ONLY TO FIND IT IS NOW UNAVAILABLE, IT WOULD BE APPRECIATED 
				IF YOU WOULD REPORT IT US USING THE FLAG ICON ON THE DEAL PAGE SO WE CAN TAKE IT OFF DISPLAY.</p>
				<a class="text-primary" id="Q7">Q. DO FOODLE RECEIVE ANY KIND OF MONETARY BENEFITS FROM THE VENDORS?</a>
				<p>A. NONE OF YOUR GODDAMN BUSINESS!!!.</p>
		
            </div>
			</div>
		</div>	
                

</div>

{% endblock %}