{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

<!-- specifies the appearance of the first slider image -->
{% block first_item %}
<img src="{% static 'images/sliders/slider_bg_donut2.png' %}" alt="donut">
<div class="carousel-caption">
    <h1 class="display-2 vegan-style">About</h1>
</div>
{% endblock %}

<!-- specifies the appearance of the second slider image -->
{% block second_item %}
<img src="{% static 'images/sliders/slider_bg_berry.png' %}" alt="berry">
<div class="carousel-caption">
    <h2>Foodle! Designed to bring students like you the deals that matter.</h2>
</div>
{% endblock %}

{% block content %}

<br>

<!-- languages used -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Developed for simplicity.</h1>
        </div>
        <hr class="light">
    </div>
</div>

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <i class="fab fa-html5"></i>
            <h3>HTML5</h3>
            <p>Built and structured with HTML5.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <i class="fas fa-bold"></i>
            <h3>BOOTSTRAP</h3>
            <p>Styled with the tools and designs offered by Bootstrap 4.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <i class="fab fa-css3-alt"></i>
            <h3>CSS</h3>
            <p>Styled to our liking with CSS.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <i class="fab fa-angular"></i>
            <h3>ANGULAR</h3>
            <p>With elements made using Angular 6.</p>
        </div>
    </div>
    <hr class="my-4">
</div>

<!--- Team Header -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">
                The Team behind the Dream
            </h1>
            <hr>
        </div>
    </div>
</div>

<!--- Team Cards -->
<div class="container-fluid padding">
    <div class="row padding">

        <div class="col-lg-3 col-md-6" style="margin-left:12.5%"> <!-- Start of card -->
            <div class="card">
                <img class="card-img-top" src="{% static 'images/Team/Mark.png' %}" alt="Mark">
                <div class="card-body">
                    <h4 class="card-title">Mark Glasgow</h4>
                    <p class="card-text">Many years experience in graphic design and web-development. Project management is his strong suit.
                    </p>
                    <a href="https://github.com/glasgowm148/" class="btn btn-outline-primary">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/Team/Hassan.png' %}" alt="Hassan">
                <div class="card-body">
                    <h4 class="card-title">Hassan Shahid</h4>
                    <p class="card-text">
                        An expert at backend. Fluent in multiple programming languages.
                    </p>
                    <a href="https://github.com/muHashh" class="btn btn-outline-primary">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" id="aboutRight">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/Team/Nathan1.jpg' %}" alt="Nathan">
                <div class="card-body">
                    <h4 class="card-title">Nathan Kirkpatrick</h4>
                    <p class="card-text">
                        Can turn his hand to any part of the development process with ease.
                    </p>
                    <a href="https://github.com/Traingles" class="btn btn-outline-primary">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-md-6"></div>
	</div>

	<div class="row padding">
	    <div class="col-lg-3 col-md-6"></div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/Team/greg1.jpg' %}" alt="Mark">
                <div class="card-body">
                    <h4 class="card-title">Greg Dawson</h4>
                    <p class="card-text">
                        Can handle front end. Former designer.
                    </p>
                    <a href="https://github.com/2333610D" class="btn btn-outline-primary">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>

		<div class="col-lg-3 col-md-6"> <!-- Start of card -->
            <div class="card">
                <img class="card-img-top" src="{% static 'images/Team/Finn1.jpg' %}" alt="Mark">
                <div class="card-body">
                    <h4 class="card-title">Finn MacDonald</h4>
                    <p class="card-text">
                        Tall. With glasses.
                    </p>
                    <a href="https://github.com/glasgowm148/" class="btn btn-outline-primary">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-md-6"></div>
    </div>
    <hr>
</div>

<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center pading">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
{% endblock %}
