{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

<!-- specifies the appearance of the first slider image -->
{% block first_item %}
<img src="{% static 'images/sliders/slider_bg_donut2.png' %}" alt="donut">
<div class="carousel-caption">
    <h1 class="display-2 vegan-style">About</h1>
</div>
{% endblock %}

<!-- specifies the appearance of the second slider image -->
{% block second_item %}
<img src="{% static 'images/sliders/slider_bg_berry.png' %}" alt="berry">
<div class="carousel-caption">
    <h2>Foodle! Designed to bring students like you the deals that matter.</h2>
    <h2>We hope that you'll find any and all information you need right here!</h2>
</div>
{% endblock %}

{% block content %}
<h1>This is the about page!</h1>
{% endblock %}