{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

<!-- specifies the appearance of the first slider image -->
{% block first_item %}
<img src="{% static 'images/donut_cut.png' %}" alt="donut">
<div class="carousel-caption">
    <h1 class="display-2 vegan-style">About</h1>
</div>
{% endblock %}

<!-- specifies the appearance of the second slider image -->
{% block second_item %}
<img src="{% static 'images/berry_cut.png' %}" alt="berry">
<div class="carousel-caption">
    <p>This is the about page for Foodle! A web application designed for bring students like you the deals that matter.
        We hope that you'll find any and all information you need right here!</p>
</div>
{% endblock %}

{% block content %}
<h1>This is the about page!</h1>
{% endblock %}