{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>Foodle base config</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/front-end/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/front-end/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/front-end/fav/favicon-16x16.png">
  <link rel="manifest" href="/static/front-end/fav/site.webmanifest">
  <link rel="mask-icon" href="/static/front-end/fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#662ec2">
  <meta name="theme-color" content="#ffffff">
</head>
<nav class="navbar navbar-light" style="background-color: #662ec2">
    <a class="navbar-brand" href="#">
    <img src="/static/front-end/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Submit a deal!</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<body>
  
  <div class="container">
      
    {% block heading %}
      <h1>Home Page Starter</h1>
    {% endblock %}

    {% block content %}{% endblock %}
  </div>

</body>
</html>
