{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		{% block title_block %}Home{% endblock %} | Foodle
	</title>
	<base href="/">

	<!-- FontAwesome for social media icons -->
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<link rel="manifest" href="/static/front-end/fav/site.webmanifest">
	<link rel="mask-icon" href="/static/front-end/fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#662ec2">
	<meta name="theme-color" content="#ffffff">
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="{% static "images/logo.png" %}" alt="logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
							<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fas fa-home"></i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fab fa-github"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}{% endblock %}



	<!-- Footer -->
	<footer>
		<div class="container-fluid padding">
			<div class="row text-center">
				<div class="col-md-4">
					<hr class="light">
					<h5 class="vegan-style">Foodle</h5>
					<hr class="light">
					<p>555-555-5555</p>
					<p>email@myemail.com</p>
					<p>City, State, 00000</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Our Hours</h5>
					<hr class="light">
					<p>Monday: 9am - 5pm</p>
					<p>Saturday: 10am - 4pm</p>
					<p>Sunday: closed</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Service Area</h5>
					<hr class="light">
					<p>City, State, 00000</p>
					<p>City, State, 00000</p>
					<p>City, State, 00000</p>
				</div>
			</div>
			<hr class="light">
			<div class="bottom-logo">
				<h3 class="vegan-style">Foodle</h3>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'front-end/styles.js' %}"></script>
	<script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
	<script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>
</body>

</html>