{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/css/img.css">


{% endblock %}

{% block content %}
{% for deal in deals %}

<!-- greg's deal_page details (start) -->
<div id="map"></div>

<div class="container">
    <br />
    <br />
    <br />
  <div class="card-columns">

    <br />
    <br />
    <br />
    <div class="card">

        {% if deal.picture %}
        <img class="card-img-top" src="{{ deal.picture.url }}" alt="Card image cap"> 
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">Deal</h5>
          <p class="card-text">{{deal.info}}</p>
          <ul class="nav">
            {% if user.is_authenticated %}
              <button id="likes" data-dealid="{{deal.id}}" class="btn btn-primary btn-sm" type="button">
              Like
            </button>
            {% endif %}
          <ul class="nav">
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-bookmark"></i></a>
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-flag"></i></a>
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fas fa-share-alt"></i></a>
          </ul>
        </div>
      </div>
  </div>
    <br />
    <br />
    <br />

    </div>

  </div> <!-- row end -->
</div>
<!--container end-->

{% endfor %}

<script>
  $(document).ready( function() {
    
    $('#likes').click(function(event){
        var dealid;
        dealid = $(this).attr("data-dealid");
        $.get('/like/', {deal_id: dealid }, function(data){
            $('#like_count').html(data);
        });
    });
    
  });
</script>

<script>

      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.872158, lng: -4.287869},zoom: 15});
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDye3jFXoyb4arMeb6ea6w1c_gTyS8RE5Y&callback=initMap">
</script>
<!-- greg deal_page details (end)	-->
{% endblock %}
