{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/css/img.css">


{% endblock %}

{% block content %}
{% for deal in deals %}

<!-- greg's deal_page details (start) -->
<div id="map"></div>

<div class="container">
    <br />
    <br />
    <br />
  <div class="card-columns">

    <br />
    <br />
    <br />
    <div class="card">

        {% if deal.picture %}
        <img class="card-img-top" src="{{ deal.picture.url }}" alt="Card image cap"> 
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">Deal</h5>
          <p class="card-text">{{deal.info}}</p>
          <p class="card-text">Likes: {{ deal.likes }}</p>
          <ul class="nav">
            {% if user.is_authenticated %}
            <button id="likes" data-dealid="{{deal.id}}" class="btn btn-primary" type="button"> like </button>
            {% endif %}
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-bookmark"></i></a>
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-flag"></i></a>
            <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fas fa-share-alt"></i></a>
            {% if user.is_authenticated %}
            <button id="dislikes" data-dealid="{{deal.id}}" class="btn btn-primary" type="button"> dislike </button>
						
			<div>
                <input id="address" value="{{deal.info}}">
            </div>
			
            {% endif %}
          </ul>
        </div>
      </div>
  </div>
    <br />
    <br />
    <br />

    </div>

  </div> <!-- row end -->
</div>
<!--container end-->

{% endfor %}


<script>
  $(document).ready( function() {
    
    $('#likes').click(function(event){
        var dealid;
        dealid = $(this).attr("data-dealid");
        $.get('/like/', {deal_id: dealid }, function(data){
            $('#like_count').html(data);
        });
    });
    

  $('#dislikes').click(function(event){
        var dealid;
        dealid = $(this).attr("data-dealid");
        $.get('/dislike/', {deal_id: dealid }, function(data){
            $('#like_count').html(data);
        });
    });
    
  });
</script>



<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 55.872158, lng: -4.287869}
        });
        var geocoder = new google.maps.Geocoder();
          geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
   </script>


<script>

      if (navigator.geolocation) { 
   navigator.geolocation.getCurrentPosition(function (position) {        
     var lat = position.coords.latitude;                   
     var lng = position.coords.longitude;                
     var curLoc = new google.maps.LatLng(lat, lng); 
     var directionsService = new google.maps.DirectionsService();
     var directionsDisplay = new google.maps.DirectionsRenderer();
	 var whereTo = document.getElementById('address').value;   <!-- THIS IS A STATIC LOCATION. IDEA IS TO PARSE IN ADDRESS FROM DATABASE OF DEAL VENDOR
     var mapOptions = { 
       zoom: 15,  
       center: curLoc, 
       mapTypeControl: true, 
     }; 
     map = new google.maps.Map(document.getElementById("map"), mapOptions);
     directionsDisplay.setMap(map);
	 var request = { 
       origin: curLoc,
       destination: whereTo,   
       travelMode: google.maps.DirectionsTravelMode.WALKING
     }; 
     directionsService.route(request, function (response, status) { 
       if (status == google.maps.DirectionsStatus.OK) { 
         directionsDisplay.setDirections(response);
       } 
     }); 
   });
 } 

    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDye3jFXoyb4arMeb6ea6w1c_gTyS8RE5Y&callback=initMap">
</script>
<!-- greg deal_page details (end)	-->
{% endblock %}
