{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">


        <div class="row">
            <div class="col-md-3">
                <img style="mx-auto" class="img-fluid" src="{% static '/images/FAQdonut.jpg' %}" alt="Picture of Donut" class="rounded" />
            </div>

            <div class="col-md-6">
                <div style="text-align:center; font-size:50px; font-family:Times New Roman; margin-top:15px">HOW CAN WE HELP YOU?</div>
            </div>

            <div class="col-md-3">
                <img style="mx-auto" class="img-fluid" src="{% static '/images/FAQdonut.jpg' %}" alt="Picture of Donut" class="rounded" />
            </div>
		</div>	 

	
	    <div class="row">
	        <div class="col-md-12 my-auto">
			<div style="text-align:center">
				<div style="margin-bottom:10px"><a href="#Q1">Q. DO I NEED TO BE A STUDENT TO USE THIS SITE?</a></div>
				<div style="margin-bottom:10px"><a href="#Q2">Q. MUST ALL DEALS BE EXCLUSIVELY FOR STUDENTS?</a></div>
				<div style="margin-bottom:10px"><a href="#Q3">Q. DO I NEED TO BE A MEMEBER TO USE THIS SITE?</a></div>
				<div style="margin-bottom:10px"><a href="#Q4">Q. HOW DO I UPLOAD A DEAL?</a></div>
				<div style="margin-bottom:10px"><a href="#Q5">Q. DO MY FRIENDS NEED TO BE LOGGED IN SEE MY DEAL?</a></div>
				<div style="margin-bottom:10px"><a href="#Q6">Q. WHAT HAPPENS WHEN THE DEAL EXPIRES?</a></div>
				<div style="margin-bottom:10px"><a href="#Q7">Q. DO FOODLE RECEIVE ANY KIND OF BENEFITS FROM THE VENDORS?</a></div>
			</div>	
	        </div>    
	    </div>     


        <div class="row">
            <div class="col-md-12 my-auto">
			<div style="text-align:center">
			    <li  style="margin-top:100px"><a id="Q1">Q. DO I NEED TO BE A MEMEBER TO USE THIS SITE?</a></li>
				<p id="Q1">A. YOU DO NOT HAVE TO BE A MEMBER TO BROWSE THE SITE AND SEE WHAT DEALS ARE ON OFFER. 
HOWEVER, SOME DEALS WILL BE AIMED SPECIFICALLY AT STUDENTS SO RECIPIENTS MAY NEED TO 
PRODUCE A VALID UNIVERSITY OF GLASGOW MYCAMPUS CARD, OR SIGN UP WITH A UNIVERSITY EMAIL ADDRESS, TO REDEEM THE OFFER.</p>

                <li><a id="Q2">Q. MUST ALL DEALS BE EXCLUSIVELY FOR STUDENTS?</a></li>
				<p id="Q2">A. ANSWER TO Q2.</p>
				<li><a id="Q3">Q. DO I NEED TO BE A MEMEBER TO USE THIS SITE?</a></li>
				<p id="Q3">A. ANSWER TO Q3.</p>
				<li><a id="Q4">Q. HOW DO I UPLOAD A DEAL?</a></li>
				<p id="Q4">A. ANSWER TO Q4.</p>
				<li><a id="Q5">Q. DO MY FRIENDS NEED TO BE LOGGED IN SEE MY DEAL?</a></li>
				<p id="Q5">A. ANSWER TO Q5.</p>
				<li><a id="Q6">Q. WHAT HAPPENS WHEN THE DEAL EXPIRES?</a></li>
				<p id="Q6">A. ANSWER TO Q6.</p>
				<li><a id="Q7">Q. DO FOODLE RECEIVE ANY KIND OF BENEFITS FROM THE VENDORS?</a></li>
				<p id="Q7">A. ANSWER TO Q7.</p>
		
            </div>
			</div>
		</div>	
                

</div>

{% endblock %}