<!-- base contains js/css imports, navbar,header-->
{% extends 'base.html' %}

{% load staticfiles %}


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="mat-app-background basic-container">
    <app-root>Loading...</app-root>
  </div>


<!-- This loads the Angular Tab App via foodle/front-end/src/app/app.component.ts
{% block content %}


{% endblock %}

<!--

{% block first_item %}
<img src="{% static 'images/sliders/donut_cut.png' %}" alt="donut">
<div class="carousel-caption">
  <h1 class="display-2">Foodle</h1>
  <h3 class="vegan-style">Where deals become meals!</h3>
</div>
{% endblock %}

<img src="{% static 'images/sliders/donut_cut.png' %}" alt="donut">
<div class="carousel-caption">
  <h1 class="display-2">Takeout</h1>
  <h3 class="vegan-style">Browse Local Offers</h3>
</div>


</div>

{% block first_item %}

{% endblock %}

{% block second_item %}




{% endblock %}
-->
