<!-- base contains js/css imports, navbar,header-->
{% extends 'base.html' %}

{% load staticfiles %}


{% block first_item %}
<img src="{% static 'images/sliders/slide1.png' %}" alt="donut">
<div class="carousel-caption">

</div>
{% endblock %}

{% block second_item %}
<img src="{% static 'images/sliders/slide2.png' %}" alt="donut">
<div class="carousel-caption">
</div>

{% endblock %}

{% block content %}

<div>
  {% if deals %}
  <ul>
    {% for deal in deals %}
    <li>
      <a href="/show_deal/{{ deal.slug }}">{{ deal.info }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-app-background basic-container">

  <!-- This loads the Angular Tab App via foodle/front-end/src/app/app.component.ts-->
  <app-root>Loading...</app-root>

  <script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>


</div>






{% endblock %}
