<!--


  Nothing here yet.

  Thinking we could implement this

  https://dzone.com/articles/material-dashboard-using-angular-6

  and then use it for user-profiles? Should be easy enough to throw together
  once we know what we're doing - probably best to get base functionality sorted first though.


  angular bootstrap :

        https://ng-bootstrap.github.io/#/components/


  Other schematics angular has

    ::

    In addition to the install schematic, Angular Material comes with multiple schematics that can be used to easily generate Material Design components:


    address-form
      Component with a form group that uses Material Design
      form controls to prompt for a shipping address

    navigation
        Creates a component with a responsive Material Design
        sidenav and a toolbar for showing the app name

    dashboard
          Component with multiple Material Design cards
          and menus which are aligned in a grid layout

    table
        Generates a component with a Material Design
        data table that supports sorting and pagination

    tree
          Component that interactively visualizes a nested folder
          structure by using the <mat-tree> component
          Additionally the Angular CDK also comes with a collection of
          component schematics:

    drag-drop
          Component that uses the @angular/cdk/drag-drop directives
          for creating an interactive to-do list

-->
