{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="/static/css/input.css">
{% endblock %}

{% block content %}
  <br class="space"/> 
  <div class="wrapper fadeInDown">
  <div id="formContent">
  <!-- Tabs Titles -->
  
  <br class="space"/>
  <div class="fadeIn first"></div>
  <h1>Register On Foodle</h1>
  <br />
    <form method="post">
      {% csrf_token %}
      {% for register in form %}
        <p class="fadeIn second">
          <br/>
          {% if register.field.required %}
          <input type="{{ register.field.widget.input_type }}" id="{{ register.auto_id }}" placeholder="{{ register.name}}" name="{{ register.name}}" maxlength="{{register.max_length}}" required/>
          {% else %}
          <input type="{{ register.field.widget.input_type }}" id="{{ register.auto_id }}" placeholder="{{ register.name}}" name="{{ register.name}}" maxlength="{{register.max_length}}"/>
          {% endif %}
          <!-- For toasts, whenever they get implemented
          {% if field.help_text %}
            <small class="fadeIn second">{{ field.help_text }}</small>
          {% endif %}
          -->
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" class="fadeIn third">Sign up</button>
    </form>
  </div>
  </div>
  <br class="space"/>
{% endblock %}

