body{
background-color: rgb(134,132,216);
}
      
#map {
height: 300px;  
width: 1280; 
position: fixed;
top : 46px;
}
	   
#breadcrumbs{
height:30px;
width: 1264px;
position: fixed;
top:354px;
background-color: black;
}
	   
#lowerBackground{
height:650px;
width: 1264px;
position: fixed;
top:384px;
background-color: white;
}
	   
#sideBlock{
height:550px;
width: 525px;
position: fixed;
top:400px;
left:573px;
z-index:2;
background-color: rgb(134,132,216);
}
	   
#sideBar1{
height:148px;
width: 134px;
position: fixed;
top:400px;
left:1118px;
z-index:2;
background-color: rgb(134,132,216);
}

#sideBar2{
height:148px;
width: 134px;
position: fixed;
top:551px;
left:1118px;
z-index:2;
background-color: rgb(134,132,216);
}

#sideBar3{
height:248px;
width: 134px;
position: fixed;
top:702px;
left:1118px;
z-index:2;
background-color: rgb(134,132,216);
}
	   
 