<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Settings</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-button (click)="isDarkTheme = !isDarkTheme" class="app-sidebar-button">TOGGLE THEME</button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Account</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="app-sidebar-button">
          <mat-icon class="example-icon" src="/login">verified_user</mat-icon>
          Login
        </button>
        <button mat-raised-button color="accent" class="app-sidebar-button">
            <mat-icon class="example-icon" src="/register">verified_user</mat-icon>
            Register
          </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Saved</span>
        <span class="app-toolbar-filler"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="warn" class="app-sidebar-button">
          <mat-icon class="example-icon">delete</mat-icon>
          Delete
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <a class="navbar-brand" href="./">
      <img src="static/images/logo.png" alt="logo">
    </a>

    <mat-icon>info</mat-icon>
    <mat-icon>email</mat-icon>
    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fab fa-github"></i></a>
  </mat-toolbar>


  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="slider" src="static/images/sliders/slide1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="slider" src="static/images/sliders/slide2.png" alt="Second slide">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  <div class="app-content">








      <mat-tab-group>



        <!-- FIRST TAB START : Most Popular-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>folder</mat-icon> Most Popular Deals
          </ng-template>
          <!--
            Flexbox Start

            Resources:
            https://css-tricks.com/snippets/css/a-guide-to-flexbox/
            Demos:
            https://tburleson-layouts-demos.firebaseapp.com/#/stackoverflow
            https://github.com/flavens/material-flexlayout
            https://medium.com/letsboot/quick-start-with-angular-material-and-flex-layout-1b065aa1476c
          -->


          <!--   <mat-grid-list cols=2 #grid rowHeight="215px" gutterSize="10px">
              <mat-grid-tile *ngFor="let deal of values">
                <mat-card class="settings-card">
                    <mat-card-header>
                    <mat-card-title>{{ deal.info }}</mat-card-title>
                    <mat-card-subtitle>{{ deal.category }}, Likes: {{deal.likes}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image [src]="deal.picture" [alt]="deal.info">
                  <mat-card-actions>
                    <a mat-raised-button href="{{deal.url}}">Claim</a>
                    <a mat-raised-button href="/deal_page/{{deal.slug}}">Info</a>
                    <button mat-button (click)="deal.url">Like</button>
                  </mat-card-actions>

                  </mat-card>
                  </mat-grid-tile>
                  </mat-grid-list> -->
                  <mat-toolbar color="primary">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>account_box</mat-icon>
                          <span>Your Account</span>
                        </button>
                        <button mat-menu-item disabled>
                          <mat-icon>send</mat-icon>
                          <span>Submit a Deal</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>notifications_on</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
          <mat-card-content>
            <mat-slide-toggle [disabled]="sliderVE.disabled" [checked]="sliderVE.checked"
              (change)="sliderVE.checked = !sliderVE.checked">Vegan</mat-slide-toggle>
          </mat-card-content>
          <mat-card-content>
            <mat-slide-toggle [disabled]="sliderVEG.disabled" [checked]="sliderVEG.checked"
              (change)="sliderVEG.checked = !sliderVEG.checked">Vegetarian</mat-slide-toggle>
          </mat-card-content>
          <mat-card-content>
            <mat-slide-toggle [disabled]="sliderG.disabled" [checked]="sliderG.checked"
              (change)="sliderG.checked = !sliderG.checked">Gluten-Free</mat-slide-toggle>
          </mat-card-content>

        </mat-toolbar>

   <!-- Search Bar -->
   <mat-form-field class="search-form">
      <input matInput placeholder="Search Deals.." type="text">
    </mat-form-field>
    <button button="submit" mat-raised-button color="white">Search</button>
    <br>
    <!-- Search Bar -->


          <div class="container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap.xs="2">



            <ng-container *ngFor="let deal of values">
              <!-- select row length by a type property -->
              <!-- with default row length when item.type is not defined -->
              <div class="item" fxFlex="25%" *ngIf="!deal.likes || deal.likes > '20'">

                <div fxLayoutAlign="start" class="item-value" fxFlexFill>
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{ deal.info }}</mat-card-title>
                      <mat-card-subtitle>{{ deal.category }}, Likes: {{deal.likes}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="deal.picture" [alt]="deal.info">
                    <mat-card-actions>
                      <!---  <button mat-button [routerLink]="['/deal.slug']">Home</button> -->
                      <a mat-raised-button href="{{deal.url}}">Claim</a>
                      <a mat-raised-button href="/deal_page/{{deal.slug}}">Info</a>
                      <button mat-button (click)="deal.url">Like</button>
                      <!--- <button mat-button (click)="deal.info">Info</button>-->
                    </mat-card-actions>
                  </mat-card>
                </div>

              </div>
              <div class="item" fxFlex="25%" *ngIf="!deal.likes || deal.likes < '20'">

                <div fxLayoutAlign="start" class="item-value">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{ deal.info }}</mat-card-title>
                      <mat-card-subtitle>{{ deal.category }}, Likes: {{deal.likes}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="deal.picture" [alt]="deal.info">
                    <mat-card-actions>
                      <!---  <button mat-button [routerLink]="['/deal.slug']">Home</button> -->
                      <a mat-raised-button href="{{deal.url}}">Claim</a>
                      <a mat-raised-button href="/deal_page/{{deal.slug}}">Info</a>
                      <button mat-button (click)="deal.url">Claim</button>
                      <!--- <button mat-button (click)="deal.info">Info</button>-->
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>

            </ng-container>
          </div>



          <!--- Internal Card  start-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
            fxLayoutAlign="center">
            <div fxFlex="20%">
              <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>Join today to save, like and submit deals!</p>
                </blockquote>
                <div id="btn-white">
                  <a class="white-text" href="{% url 'register' %}">Register!</a>
                </div>
              </div>

            </div>
            <div fxFlex="20%">
              <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">Foodle aims to provide you with up-to-date deals on food around campus
                  Create an account to save, like or submit deals</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

            <div fxFlex="20%">
              <a class="twitter-timeline" href="https://twitter.com/FoodleGlasgow">Tweets by TwitterDev</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div fxFlex="20%">
              <div class="card p-3">
                <img class="card-img" href="{% url 'deal_page' %}" src="static/images/internal_button.png"
                  alt="Card image">

              </div>
            </div>

            <div fxFlex="20%">

              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Not seeing anything you fancy?</h5>
                  <p class="card-text">Check out our resource page for links to relevent sites</p>
                  <p class="card-text"><small class="text-muted">
                      <div id="formFooter">
                        <a class="underlineHover" href="{% url 'register' %}">Resources</a>
                      </div>
                    </small></p>
                </div>
              </div>
            </div>
          </div>

          <!--- Card  END-->


        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>alarm</mat-icon> Saved
          </ng-template>

          You haven't saved any deals yet - They will appear here when you do.
          <mat-progress-bar class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example">
          </mat-progress-bar>


        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>map</mat-icon> Liked
          </ng-template>

          <mat-progress-bar class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example">
          You haven't liked any deals yet - They will appear here when you do.
            </mat-progress-bar>


        </mat-tab>


        <!-- start of card-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>people</mat-icon> Most Liked
          </ng-template>
        </mat-tab>
        <!-- end of card-->


      </mat-tab-group>



      <!-- Disabled Angular Dashboard for now
<app-cards-angular></app-cards-angular>
    -->
      <!-- End of angular cards -->
  </div>
</mat-sidenav-container>
