<!-- Start of tabs

  https://material.angular.io/components/tabs/examples

  -->
  <mat-tab-group>
      <!-- FIRST TAB START : Most Popular-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>people</mat-icon> Most <em> Popular </em>
        </ng-template>
        <!-- FIRST TAB TITLE END : Most Popular-->


        <!-- CARD COLUMNS : Most Popular BootStrap Implementation-->

      </mat-tab>



      <!-- Tab Bar Menu Item :: MOST LIKED-->
      <mat-tab>
        <div class='md-padding' layout="row" layout-wrap>
          <ng-template mat-tab-label>
            <mat-icon>thumb_up</mat-icon> Most Liked
          </ng-template>
          <!-- Search Bar -->

          <mat-form-field class="search-form">
            <input matInput placeholder="Search Deals.." type="text">
          </mat-form-field>
          <button button="submit" mat-raised-button color="primary">Search</button>
          <br>

          <!-- Checboxers
              Resources:
                https://github.com/angular/material2/blob/master/src/dev-app/checkbox/checkbox-demo.html
                https://www.concretepage.com/angular-2/angular-material/angular-material-checkbox-example

              Demo:
                https://stackblitz.com/edit/angular-material-flex-layout-seed?file=app%2Fmaterial.module.ts
          -->

          <mat-checkbox> Vegan </mat-checkbox>
          <mat-checkbox> Vegetarian </mat-checkbox>
          <mat-checkbox> Gluten-Free </mat-checkbox>

      </mat-tab>
      <!--- Tab end-->


      <!--- Tab :: Most Saved-->

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>folder</mat-icon> Most Saved
        </ng-template>
      </mat-tab>


      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>alarm</mat-icon> Latest
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>map</mat-icon> Closest
        </ng-template>

      </mat-tab>
    </mat-tab-group>
