<!-- SideNav start-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-icon>info<a mat-list-item href="/about">About Us</a></mat-icon>
      < <a mat-list-item href="/faq">FAQ</a>
        <a mat-list-item href="/submit">Account</a>
        <!-- <mat-icon></mat-icon>-->
        <a mat-list-item href="/submit">Submit</a>
        <a mat-list-item href="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- SideNav end-->

    <!-- -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-card-content>
        <mat-slide-toggle [disabled]="sliderVE.disabled" [checked]="sliderVE.checked"
          (change)="sliderVE.checked = !sliderVE.checked">Vegan</mat-slide-toggle>
      </mat-card-content>
      <mat-card-content>
        <mat-slide-toggle [disabled]="sliderVEG.disabled" [checked]="sliderVEG.checked"
          (change)="sliderVEG.checked = !sliderVEG.checked">Vegetarian</mat-slide-toggle>
      </mat-card-content>
      <mat-card-content>
        <mat-slide-toggle [disabled]="sliderG.disabled" [checked]="sliderG.checked"
          (change)="sliderG.checked = !sliderG.checked">Gluten-Free</mat-slide-toggle>
      </mat-card-content>
      <!--<img src="/static/images/logo.png" alt="logo">  <mat-icon>thumb_up</mat-icon> Most Liked-->
    </mat-toolbar>
    <!-- Add Content Here -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="mat-app-background basic-container">



      <!-- Search Bar -->
      <mat-form-field class="search-form">
        <input matInput placeholder="Search Deals.." type="text">
      </mat-form-field>
      <button button="submit" mat-raised-button color="primary">Search</button>
      <br>
      <mat-tab-group>
      <!-- Search Bar -->



        <!-- FIRST TAB START : Most Popular-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>folder</mat-icon> Latest Deals
          </ng-template>
          <!--
            Flexbox Start

            Resources:
            https://css-tricks.com/snippets/css/a-guide-to-flexbox/
            Demos:
            https://tburleson-layouts-demos.firebaseapp.com/#/stackoverflow
            https://github.com/flavens/material-flexlayout
            https://medium.com/letsboot/quick-start-with-angular-material-and-flex-layout-1b065aa1476c
          -->
          <div class="row">
              <div *ngFor="let deal of values" class="col-4 card">
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{ deal.info }}</mat-card-title>
                      <mat-card-subtitle>{{ deal.category }}, Likes: {{deal.likes}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="deal.picture" [alt]="deal.info">
                    <mat-card-actions>
                      <!---  <button mat-button [routerLink]="['/deal.slug']">Home</button> -->
                      <a mat-raised-button href="{{deal.url}}">Claim</a>
                      <a mat-raised-button href="/deal_page/{{deal.slug}}">Info</a>
                      <button mat-button (click)="deal.url">Claim</button>
                      <!--- <button mat-button (click)="deal.info">Info</button>-->
                    </mat-card-actions>
                  </mat-card>
            </div>
          </div>
            <!--- Card  END-->

            <!--- Card  START-->
          <div class="card bg-primary text-white text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>Join today to save, like and submit deals!</p>
              </blockquote>
              <div id="btn-white">
                <a class="white-text" href="{% url 'register' %}">Register!</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Not seeing anything you fancy?</h5>
                <p class="card-text">Check out our resource page for links to relevent sites</p>
                <p class="card-text"><small class="text-muted">
                    <div id="formFooter">
                      <a class="underlineHover" href="{% url 'register' %}">Resources</a>
                    </div>
                  </small></p>
              </div>
            </div>
            <!--- Card  END-->


            <!--- Card  start-->

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">Foodle aims to provide you with up-to-date deals on food around campus
                  Create an account to save, like or submit deals</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
             <!--- Card  END-->


            <!--- Card  start-->
            <div class="row">
                <div *ngFor="let deal of values" class="col-3 card">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>{{ deal.info }}</mat-card-title>
                      <mat-card-subtitle>{{ deal.category }}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="deal.picture" [alt]="deal.info">
                    <mat-card-actions>
                      <!---  <button mat-button [routerLink]="['/deal.slug']">Home</button> -->
                      <a mat-raised-button href="{{deal.url}}">Claim</a>
                      <a mat-raised-button href="/deal_page/{{deal.slug}}">Info</a>
                      <button mat-button (click)="deal.url">Claim</button>
                      <!--- <button mat-button (click)="deal.info">Info</button>-->
                    </mat-card-actions>
                  </mat-card>
            </div>
          </div>
            <!--- Card number 2 end-->



            <div class="card p-3">
              <a class="twitter-timeline" href="https://twitter.com/FoodleGlasgow">Tweets by TwitterDev</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>



            <div class="card">
              <img class="card-img" href="{% url 'deal_page' %}" src="static/images/internal_button.png"
                alt="Card image">
            </div>


        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>alarm</mat-icon> Saved
          </ng-template>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>map</mat-icon> Liked
          </ng-template>


        </mat-tab>


        <!-- start of card-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>people</mat-icon> Most Liked
          </ng-template>
        </mat-tab>
        <!-- end of card-->





      </mat-tab-group>
      <app-cards-angular></app-cards-angular>
      <!-- End of angular cards -->
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
