<!-- SideNav start-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/about">About</a>
      <a mat-list-item href="/faq">FAQ</a>
      <a mat-list-item href="/deal_page">Deal_page</a>
      <a mat-list-item href="/submit">Submit</a>
      <a mat-list-item href="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<!-- SideNav end-->

<!-- -->
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <!--<img src="/static/images/logo.png" alt="logo">  <mat-icon>thumb_up</mat-icon> Most Liked-->
    </mat-toolbar>
    <!-- Add Content Here -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="mat-app-background basic-container">
  <!-- Search Bar -->
  <mat-form-field class="search-form">
      <input matInput placeholder="Search Deals.." type="text">
    </mat-form-field>
    <button button="submit" mat-raised-button color="primary">Search</button>
    <br>
    <mat-tab-group>

      <!-- CheckBoxes-->

      <mat-checkbox><small class="text-muted">Vegan</small></mat-checkbox>
      <mat-checkbox><small class="text-muted">Vegetarian</small></mat-checkbox>
      <mat-checkbox><small class="text-muted">Gluten-Free</small></mat-checkbox>

      <!--
            Resources:
              https://github.com/angular/material2/blob/master/src/dev-app/checkbox/checkbox-demo.html
              https://www.concretepage.com/angular-2/angular-material/angular-material-checkbox-example

            Demo:
              https://stackblitz.com/edit/angular-material-flex-layout-seed?file=app%2Fmaterial.module.ts
        -->

      <!-- FIRST TAB START : Most Popular-->



      <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>folder</mat-icon> Angular  + bootstrap
          </ng-template>
                  <!--
            Flexbox Start

            Resources:
            https://css-tricks.com/snippets/css/a-guide-to-flexbox/
            Demos:
            https://tburleson-layouts-demos.firebaseapp.com/#/stackoverflow
            https://github.com/flavens/material-flexlayout
            https://medium.com/letsboot/quick-start-with-angular-material-and-flex-layout-1b065aa1476c
          -->
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center start">

              <!--- Card number 1 start-->
              <div fxFlex="20%">
                  <mat-card class="card20">
                    <mat-card-header>
                      <div mat-card-avatar class="card1-bg"></div>
                      <mat-card-title>Dominos</mat-card-title>
                      <mat-card-subtitle>35% discount</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="static/images/dominos.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Dominos is alright too...
                        <mat-icon fxFlex="15%">save_alt</mat-icon>
                        <mat-icon fxFlex="15%">favorite_border</mat-icon>
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>like</button>
                      <button mat-button>share</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              <!--- Card number 2 start-->
              <div fxFlex="20%">
                <mat-card class="card20">
                  <mat-card-header>
                    <div mat-card-avatar class="card1-bg"></div>
                    <mat-card-title>Dominos</mat-card-title>
                    <mat-card-subtitle>35% discount</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="static/images/dominos.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      Dominos is alright too...
                      <mat-icon fxFlex="15%">save_alt</mat-icon>
                      <mat-icon fxFlex="15%">favorite_border</mat-icon>
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>like</button>
                    <button mat-button>share</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <!--- Card number 2 end-->
              <!--- Card number 3 start-->
              <div fxFlex="20%">
                <mat-card class="card20">
                  <mat-card-header>
                    <div mat-card-avatar class="card1-bg"></div>
                    <mat-card-title>Oneup</mat-card-title>
                    <mat-card-subtitle>Deal details</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="static/images/oneup.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      OneWho?
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>like</button>
                    <button mat-button>share</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <!--- Card number 3 end-->
              <!--- Card number 4 start-->
              <div fxFlex="20%">
                <mat-card class="card20">
                  <mat-card-header>
                    <div mat-card-avatar class="card1-bg"></div>
                    <mat-card-title>Oneup</mat-card-title>
                    <mat-card-subtitle>Deal details</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="static/images/oneup.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      OneWho?
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>like</button>
                    <button mat-button>share</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <!--- Card number 4 end-->

              <!--- Card number 5 start-->
              <div fxFlex="20%">
                <mat-card class="card20">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Dominos</mat-card-title>
                    <mat-card-subtitle>35% discount</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="static/images/dominos.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      Dominos is alright too...
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>like</button>
                    <button mat-button>share</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <!--- Card number 5 end-->

            </div>
          <div class="card-columns">
              <div class="card">
                <img class="card-img-top" href="{% url 'deal_page' %}" src="static/images/soba.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">BAR SOBA :: 50% OFF FOR STUDENTS</h5>
                  <p class="card-text">Bar Soba offers a 50% discount card for all students. Available Mon-Thur and Fri until
                    12.
                  </p>
                  <ul class="nav">
                    <a class="btn btn-primary" href="https://www.studentbeans.com/student-discount/uk/domino-s-pizza/code-35"
                      role="button">Claim Deal</a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-heart"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-bookmark"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-flag"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fas fa-share-alt"></i></a>
                    <a class="btn btn-primary"
                      href="https://www.itison.com/Glasgow/deals/one-up-burgers-cocktails-royal-exchange-sq"
                      role="button">Info</a>
                  </ul>
                </div>
              </div>
              <div class="card p-3">
                <a class="twitter-timeline" href="https://twitter.com/FoodleGlasgow">Tweets by TwitterDev</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>

              <div class="card" href="https://www.studentbeans.com/student-discount/uk/domino-s-pizza/code-35">
                <img class="card-img-top" src="static/images/dominos.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">DOMINOS :: 35% OFF</h5>
                  <p class="card-text">Unlock 35% online student discount at Domino's Pizza when you spend £25 with Student
                    Beans
                    iD.

                    Use our Dominos Pizza student discount code at the checkout to enjoy 35% off your order.</p>
                  <ul class="nav">

                    <a class="btn btn-primary" href="https://www.studentbeans.com/student-discount/uk/domino-s-pizza/code-35"
                      role="button">Claim
                      Deal</a>

                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-heart"></i></a><a
                      class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-bookmark"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-flag"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fas fa-share-alt"></i></a>
                    <a class="btn btn-primary"
                      href="https://www.itison.com/Glasgow/deals/one-up-burgers-cocktails-royal-exchange-sq"
                      role="button">Info</a>
                  </ul>
                </div>
              </div>
              <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                  <p>Join today to save, like and submit deals!</p>
                </blockquote>
                <div id="btn-white">
                  <a class="white-text" href="{% url 'register' %}">Register!</a>
                </div>
              </div>
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Not seeing anything you fancy?</h5>
                  <p class="card-text">Check out our resource page for links to relevent sites</p>
                  <p class="card-text"><small class="text-muted">
                      <div id="formFooter">
                        <a class="underlineHover" href="{% url 'register' %}">Resources</a>
                      </div>
                    </small></p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">About</h5>
                  <p class="card-text">Foodle aims to provide you with up-to-date deals on food around campus
                    Create an account to save, like or submit deals</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>


              <div class="card">
                <img class="card-img" href="{% url 'deal_page' %}" src="static/images/internal_button.png" alt="Card image">
              </div>
              <div class="card p-3">

                <img class="card-img-top" href="{% url 'deal_page' %}" src="static/images/oneup.png" alt="Card image cap">

                <div class="card-body">
                  <h5 class="card-title">One Up burgers, Royal Exchange Sq</h5>
                  <p class="card-text">Burgers and fries for two or four with an optional glass of wine or bottled beer each -
                    £8
                  </p>
                  <ul class="nav">
                    <a class="btn btn-primary"
                      href="https://www.itison.com/Glasgow/deals/one-up-burgers-cocktails-royal-exchange-sq"
                      role="button">Claim Deal</a>

                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-heart"></i></a><a
                      class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-bookmark"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="far fa-flag"></i></a>
                    <a class="nav-link" href="https://github.com/glasgowm148/foodle_dev"><i class="fas fa-share-alt"></i></a>
                    <a class="btn btn-primary"
                      href="https://www.itison.com/Glasgow/deals/one-up-burgers-cocktails-royal-exchange-sq"
                      role="button">Info</a>
                  </ul>
                </div>
              </div>

            </div>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>alarm</mat-icon> All Angular
          </ng-template>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>map</mat-icon> FlexBox
          </ng-template>


        </mat-tab>


        <!-- start of card-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>people</mat-icon> All <em> Angular </em>
          </ng-template>
      </mat-tab>
      <!-- end of card-->





    </mat-tab-group>
    <app-cards-angular></app-cards-angular>
    <!-- End of angular cards -->      </div>


  </mat-sidenav-content>
</mat-sidenav-container>
