.sidenav-container {
  height: 80%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: lightblue;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* side - menu */

.mat-list-base {
  padding-top: 80px !important;
}
